body{
margin:0;
background:#111;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.box{
background:#222;
padding:30px;
border-radius:20px;
width:320px;
text-align:center;
}

input{
width:100%;
padding:12px;
border:none;
border-radius:10px;
}

button{
margin-top:20px;
padding:12px;
border:none;
border-radius:10px;
background:red;
color:white;
width:100%;
cursor:pointer;
}
